In [1]:
import yfinance as yf
import pandas as pd
import investpy as inv
import os

In [2]:
br = inv.stocks.get_stocks(country='brazil')

In [3]:
br

,country,name,full_name,isin,currency,symbol
0,brazil,ABC BRASIL PN,Banco ABC Brasil SA,BRABCBACNPR4,BRL,ABCB4
1,brazil,BRASILAGRO ON,BrasilAgro - Co ON NM,BRAGROACNOR7,BRL,AGRO3
2,brazil,RUMO ON NM,RUMO Logistica Operadora Multimodal SA,BRRAILACNOR9,BRL,RAIL3
3,brazil,ALPARGATAS ON,Alpargatas SA,BRALPAACNOR0,BRL,ALPA3
4,brazil,ALPARGATAS PN,Alpargatas SA,BRALPAACNPR7,BRL,ALPA4
...,...,...,...,...,...,...
744,brazil,Integral Brei Reit,Fdo Inv Imob Fof Integral Brei Reit,BRIBFFCTF007,BRL,IBFF11
745,brazil,Vbi Cri,Fi Imobiliario Vbi Cri,BRCVBICTF001,BRL,CVBI11
746,brazil,Hedge Realty,Hedge Realty Devl Fdo Inv Imob Etf,BRHRDFCTF000,BRL,HRDF11
747,brazil,Rb Cap,Rb Cap Desenvolvimento Res Iii Fii,BRRSPDCTF006,BRL,RSPD11
748,brazil,Treecorp,Treecorp Real Estate Fii I Etf,BRTCPFCTF001,BRL,TCPF11

In [4]:
carteira = []

for ativo in br['symbol']:
    if(ativo == 'ABEV3'):
        carteira.append(ativo+'.SA')

In [5]:
carteira

['ABEV3.SA']

In [6]:
## download dados com intervalo 1d entre as datas estabelecidas
dt = yf.download(carteira, start='2016-01-01', end='2023-01-01')

[*********************100%***********************]  1 of 1 completed

In [7]:
dt

                 Open       High        Low      Close  Adj Close    Volume
Date
2016-01-04  17.730000  17.730000  17.209999  17.209999  14.220700  13206900
2016-01-05  17.250000  17.520000  17.110001  17.480000  14.443801  10774200
2016-01-06  17.360001  17.480000  17.200001  17.309999  14.303329   7739100
2016-01-07  17.170000  17.320000  16.850000  16.850000  13.923229  15316400
2016-01-08  16.930000  17.200001  16.930000  17.070000  14.105017  10684000
...               ...        ...        ...        ...        ...       ...
2022-11-28  15.800000  16.000000  15.720000  15.910000  15.910000  15172700
2022-11-29  15.910000  16.049999  15.690000  15.760000  15.760000  23998200
2022-11-30  15.760000  16.000000  15.660000  15.920000  15.920000  32952700
2022-12-01  15.920000  16.160000  15.880000  16.080000  16.080000  28272700
2022-12-02  16.150000  16.549999  15.950000  16.330000  16.330000  42011000

[1723 rows x 6 columns]

In [10]:
os.makedirs('./dataset/', exist_ok=True)
dt.to_excel('./dataset/ABEV3_diario.xlsx', index=True) #save downloaded dataframe